name: Publish

on:
  push:
    tags: ['v*']

jobs:
  publish:
    if: github.repository == 'globalbrain/hado'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: lewagon/wait-on-check-action@v1.4.1
        with:
          ref: ${{ github.ref }}
          check-regexp: 'test / .*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
      - run: deno publish
